@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-barlow;
}

h1 {
  @apply font-bellefair text-white text-[80px] leading-[100px]
          sm:text-[150px] sm:leading-none
          lg:leading-[172px];
}

h2 {
  @apply font-bellefair text-white text-[56px] leading-[64px] uppercase
          sm:text-[80px] sm:leading-[92px]
          lg:text-[100px] lg:leading-[115px];
}

h3 {
  @apply font-bellefair text-white text-[24px] leading-[28px] uppercase
          sm:text-[40px] sm:leading-[46px]
          lg:text-[56px] lg:leading-[64px];
}

h4 {
  @apply font-bellefair text-white text-opacity-50 text-[16px] leading-[18px] uppercase
          sm:text-[24px] sm:leading-[28px]
          lg:text-[32px] lg:leading-[38px];
}

h5 {
  @apply font-barlow-condensed text-white text-[16px] leading-[20px] tracking-[2.7px] uppercase
          sm:text-[20px] sm:leading-[24px] sm:tracking-[3.38px]
          lg:text-[28px] lg:leading-[34px] lg:tracking-[4.72px];
}

p {
  @apply text-blue-light font-barlow text-[15px] leading-[25px]
            sm:text-[16px] sm:leading-[28px]
            lg:text-[18px] lg:leading-[32px];
}

.subheading-1 {
  @apply font-bellefair text-white text-[28px] leading-[32px] uppercase;
}

.subheading-2 {
  @apply font-barlow-condensed text-blue-light text-[14px] leading-[17px] tracking-[2.36px] uppercase;
}

.btn_circle {
  @apply grid place-content-center w-[150px] h-[150px] bg-white rounded-full font-bellefair text-blue-dark uppercase text-[20px] leading-[23px] tracking-[1.25px] transition-shadow duration-300
          hover:shadow-[0_0_0_48px_rgba(255,255,255,0.1)]
          sm:w-[242px] sm:h-[242px] sm:text-[32px] sm:leading-[37px] sm:tracking-[2px]
          sm:hover:shadow-[0_0_0_78px_rgba(255,255,255,0.1)]
          lg:w-[274px] lg:h-[274px]
          lg:hover:shadow-[0_0_0_88px_rgba(255,255,255,0.1)];
}

.menu_hover {
  @apply after:absolute after:border-[3px] after:opacity-0 after:w-0 after:left-0 after:bottom-[-38px] after:transition-all after:duration-300
          after:hover:border-[3px] after:hover:opacity-50 after:hover:w-full;
}

.menu_active {
  @apply after:opacity-100 after:w-full;
}

.icon_transition {
  @apply absolute transition-all duration-300 scale-0;
}

.icon_visible {
  @apply relative scale-100;
}

.menu_mobile {
  @apply z-[9] absolute top-0 right-0 w-[254px] pt-28 pl-8 h-screen bg-[rgba(255,255,255,0.04)] backdrop-blur-[40px] transition-all duration-300;
}

.menu_hover_mobile {
  @apply after:absolute after:border-[3px] after:opacity-0 after:h-0 after:right-0 after:transition-all after:duration-300
          after:hover:border-[3px] after:hover:opacity-50 after:hover:h-full;
}

.menu_active_mobile {
  @apply after:opacity-100 after:h-full;
}

.hide_menu {
  @apply w-0 pl-0;
}

.menu_item {
  @apply text-white font-barlow-condensed text-[16px] leading-[20px] tracking-[2.7px] uppercase;
}

.menu_desktop {
  @apply sm:flex sm:px-12 sm:py-[38px] sm:bg-[rgba(255,255,255,0.04)] sm:backdrop-blur-[40px] lg:px-0 lg:pl-[120px] lg:pr-[168px];
}

.btn {
  @apply after:absolute after:w-0 after:border-[3px] after:border-white after:left-0 after:-bottom-3 after:opacity-0 after:transition-all after:duration-300
          after:hover:border-[3px] after:hover:w-full after:hover:opacity-50;
}

.btn_active {
  @apply after:absolute after:w-full after:border-[3px] after:border-white after:left-0 after:-bottom-3 after:opacity-100 after:transition-all after:duration-300;
}

.btn_sm_circle {
  @apply w-[10px] h-[10px] rounded-full bg-white opacity-20 transition-all duration-300
          hover:opacity-100
          sm:w-[15px] sm:h-[15px];
}

.btn_sm_circle_active {
  @apply opacity-100;
}

.btn_md_circle {
  @apply w-[40px] h-[40px] text-white font-bellefair text-[16px] leading-[18px] tracking-[1px] rounded-full bg-white bg-opacity-0 border border-white border-opacity-20 transition-all duration-300
          hover:bg-opacity-100 hover:text-blue-dark
          sm:w-[60px] sm:h-[60px] sm:text-[24px] sm:leading-[28px] sm:tracking-[1.5px]
          lg:w-[80px] lg:h-[80px] lg:text-[32px] lg:leading-[37px] lg:tracking-[2px];
}

.btn_md_circle_active {
  @apply bg-opacity-100 text-blue-dark;
}
